@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap');

:root {
  --color-dark: #0f141c;
  /* dark */
  --color-gold: #ecd23a;
  /* gold */
  --color-red: #fd5259;
  /* red */
  --color-gray: #31333c;
  /* gray */
  --color-blue: #1E90FF;
  /* blue */
  --color-purple: #4B0082;
  /* purple */

  --app-color-dark-lighter: #1B1D24;
  /* dark lighter */
  --app-color-gold-dark: #C1A71B;
  /* gold dark */
  --app-color-red-dark: #5F0C0C;
  /* red dark */
  --app-color-gray-lighter: #919191;
  /* gray lighter */
  --app-color-blue-trans: #0000CDaa;
  /* blue transparent */
  --app-color-purple-trans: #8B008Baa;
  /* purple transparent */
  --app-color-brown-trans: #8B4513aa;
  /* brown transparent */
  --color-white: #F4F5F8;
  --color-black: #0f141c;
}

.Background-Content {
  font-family: 'inria', serif;
  display: flex;
  margin-top: 1vmin;
  flex-direction: column;
  border-radius: 24px;
  justify-content: space-evenly;
  position: relative;
  transition: all 2s ease-in-out;
  width: 100%;
  height: fit-content;
  z-index: 20;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

body {
  font-family: 'Inria', serif;
  color: var(--color-white);
}

.info{
  font-family: 'Inria', serif;
  font-size: 1rem;
  margin-bottom: 20px;
  padding-left: 11px;
}

.Header-Title {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  width: 100%;
  font-family: 'inria', serif;
  color: var(--color-white);
}

.Header-Enc {
  font-size: 2rem;
  user-select: none;
  font-family: 'inria', serif;
  color: var(--color-white);
  opacity: 100%;
  background: #0f141c89;
  padding: 10px;
  width: 100%;
  border-radius: 24px;
  border-style: solid;
  border-color: #91919122;
  display: flex;
  flex-direction: column;
  border: 2px solid #1E90FF22;
}

.Encounter-Form-Container {
  width: 100%;
}

.Header-Row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.Header-Buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.Header-Edit {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 23px;
}

.Footer-Row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Footer-Buttons {
  display: flex;
  flex-direction: row;
}

/* className="hover-btn" */
.button {
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 1px 4px 8px #1B1D24;
  font-family: 'Inria', serif;
  letter-spacing: .045rem;
  padding: 8px 20px;
  font-size: 1.1rem;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  opacity: .99;
  filter: contrast(1.2);
  border-radius: 11px;
  transition: all 0.5s ease-in-out;
}

.button:active {
  opacity: .82;
  scale: .99;
  filter: contrast(1);
  border-radius: 11px;
  transition: all 0.5s ease-in-out;
}


.Log-Initiative-Button {
  background-color: var(--app-color-dark-lighter);
  color: var(--color-white);
  border: 2px solid var(--color-blue);
  font-family: 'Inria', serif;
  padding: 8px 30px;
  width: fit-content;
}

.Add-All-Players-Button,
.Add-New-Creature-Button {
  background-color: var(--app-color-dark-lighter);
  color: var(--color-gold);
  border: 1px solid var(--app-color-gray-lighter);
  padding: 8px 48px;
  width: fit-content;
  font-weight: bold;
  margin-right: 10px;
}

.Edit-Encounter-Button {
  background-color: var(--app-color-dark-lighter);
  color: var(--color-gold);
  border: 1px solid var(--app-color-gray-lighter);
  padding: 8px 22px;
  margin-bottom: 12px;
  width: fit-content;
  font-weight: bold;
  font-size: .94rem;
  margin-right: 10px;
}

.Close-Button {
  color: var(--color-red);
  cursor: pointer;
  background-color: #1B1D2444;
  font-weight: bold;
  width: fit-content;
  padding: 2px 1rem;
  font-weight: bold;
  font-size: 1.94rem;
  align-self: flex-start;
}